[submodule "TRDEngine/vendor/GLFW"]
	path = TRDEngine/vendor/GLFW
	url = https://github.com/Frollo24/GLFW
[submodule "TRDEngine/vendor/glm"]
	path = TRDEngine/vendor/glm
	url = https://github.com/g-truc/glm
